:root {
    /* colores */
    --blanco:#fff;
    --oscuro: #212121;
    --primary:#ffc107;
    --secondary: #0097a7;
    --gris: #757575;

    /* fuentes */
    --tipografia_titulo: 'Roboto', sans-serif;
}

*{
    font-family: var(--tipografia_titulo);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

.servicios,
.contenido-header,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1rem = 10px*/
    font-family: var(--tipografia_titulo);
    background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100% );
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}


/* Utility First */
.sombra{
    -webkit-box-shadow: -4px 7px 12px -4px rgba(94,92,94,1);
    -moz-box-shadow: -4px 7px 12px -4px rgba(94,92,94,1);
    box-shadow: -4px 7px 12px -4px rgba(94,92,94,1);

    background-color: var(--blanco);
    padding: 2rem;
}

.boton{
    background-color: var(--secondary);
    color: var(--blanco);
    padding:1rem 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 480px) {
    .boton{
        width:auto;
    }
}

.boton:hover{
    cursor: pointer; 
}

.titulo{
    font-weight: 700;
}

.nav-bg{
    background-color: var(--secondary);
}

/* Menu de navegacion */

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}


.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }   
}

.navegacion-principal a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--blanco); 
    font-size:1.8rem;
    font-weight: 700;
    padding: 1rem; 
}

.navegacion-principal a:hover{
    background-color: var(--primary);
    color: var(--oscuro);
}

/* Header */

header{
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 45rem;
    padding: 2rem;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-header{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 5rem;
}

.contenido-header h1,
.contenido-header p{
    color: var(--blanco);
}

.ubicacion{
    display: flex;
    align-items: flex-end;
}


/* Maquetacion servicios (Main) */

@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secondary);
    font-weight: 400;
}

.servicio p{
    line-height: 2;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primary);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Formulario de contacto */

.formulario{
    background-color: var(--gris);
    width: min( 60rem, 100% ); /* utilizar el valor mas pequeño */
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    width: 100%;
    text-align: center;
    color: var(--primary);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2rem;  
}

@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        column-gap: 1rem;
        grid-template-rows: auto auto 20rem;
    }

    .campo:nth-child(3), .campo:nth-child(4){ 
        grid-column: 1 / 3;
    }
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo input[type="text"], 
    input[type="tel"], 
    input[type="email"]{

    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .4rem;
}

.campo textarea{
    width: 100%;
    height: 17rem;
    resize: none;
    border-radius: .7rem;

}

.enviar .boton{
    width: 100%;
}

@media (min-width: 480px) {
    .enviar{
        display: flex;
        justify-content: center;
    }

    .enviar .boton{
        width: auto;

    }

}